@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #2f2325;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
  padding: 10px;
  background: rgba(184, 176, 176, 0.2);
  border-radius: 10px;
  margin: auto;
}
#form-desafio1 {
  display: none;
}

input {
  background: none;
  outline: none;
  border: 1px solid #bb7567;
  color: #dc8e2f;
  border-radius: 5px;
  padding: 5px;
}

input[type="submit"] {
  cursor: pointer;
  margin-top: 20px;
  background-color: #bb7567;
  color: white;
}

label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

h1 {
  color: #97d3da;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}
#desafio1__conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#conteudo {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.header__list {
  display: flex;
  list-style: none;
}

.header__item {
  margin: 5px;
}

.header__link {
  text-decoration: none;
  color: #97d3da;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}
.header__title {
  color: #fff2e7;
  font-size: 3rem;
}
.index__nav {
  margin: auto;
}
#desafio1__userInfo{
  display: none;
  flex-direction: column;
  align-items: center;
  background: rgba(184, 176, 176, 0.2);
  padding: 10px;
  border-radius: 8px;
}
.desafio1__user {
  text-align: center;
  color: #ffffff;
}

#resultado {
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
}
